body {
  display: grid;
  grid-template-areas:
    "header"
    "controls"
    "main";
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
}

input {
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  justify-content: space-between;
  padding: .5em;
}

.controls {
  grid-area: controls;
  padding: 1em;
}

.gif-card {
  padding: .5em;
}

.hidden {
  display: none;
}

.instructions {
  margin-top: .5em;
}

.metadata {
  display: block;
  margin: 1em 0; 
}

.submit {
  margin-top: 1em;
}

.topic {
  margin: .5em;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5em;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-areas:
      ". header controls ."
      ". main controls .";
    grid-template-columns: 1fr 360px 180px 1fr;
  }

  .instructions {
    margin-top: 2em;
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 1fr 480px 240px 1fr;
  }
}

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 720px 240px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 900px 240px 1fr;
  }
}