body {
  display: grid;
  grid-template-areas:
    "header"
    "controls"
    "main";
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
}

input {
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  grid-area: main;
  padding: .5em;
}

.controls {
  grid-area: controls;
  padding: 1em;
}

.gif-card {
  padding: .5em;
}

.rating {
  margin: 1em 0; 
}

.submit {
  margin-top: 1em;
}

.topic {
  margin: .5em;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
}

@media screen and (min-width: 576px) {
  body {
    grid-template-areas:
      ". header . ."
      ". main controls .";
    grid-template-columns: 1fr 400px 140px 1fr;
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 1fr 580px 140px 1fr;
  }
}

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 820px 140px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 1000px 140px 1fr;
  }
}