a {
  color: #ffafcf;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}

body {
  background-color: #3f3f3f;
  display: grid;
  grid-template-areas:
    "header"
    "controls"
    "main";
  grid-template-columns: 1fr;
}

h2 {
  font-family: "Belgrano", serif;
  margin-top: .5em;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

p {
  font-family: "ABeeZee", sans-serif;
  color: #efefef;
  letter-spacing: 0.02em;
}

.action {
  margin-right: .5em;
  margin-bottom: .5em;
}

.action:last-child {
  margin-right: 0;
}

.action-group {
  display: flex;
  flex-wrap: wrap;
}

.button-generic {
  background-color: #6f6f6f;
  border-width: .1em;
  border-style: outset;
  border-radius: .25em;
  border-color: #8f8f8f;
  color: #ffffff;
  font-family: "ABeeZee", sans-serif;
  font-size: 1em;
  padding: .5em;
}

.button-generic:focus, .button-generic:hover {
  background-color: #9f9f9f;
}

.controls {
  grid-area: controls;
  padding: 1em;
}

.divider {
  margin-top: 1em;
  border-color: #ffffff;
}

.empty-message {
  padding: .5em;
}

.gif-card {
  padding: .5em;
}

.hidden {
  display: none;
}

.images-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5em;
}

.images-footer {
  display: flex;
  justify-content: center;
  padding: 1em 1em 3em 1em;
}

.instructions {
  background-color: #c6519b;
  margin-top: 1em;
  padding: 1em;
}

.metadata {
  display: block;
  font-size: .9em;
  margin: 1em 0;
}

.submit {
  margin-top: 1em;
}

.text-input {
  border-radius: .25em;
  font-size: 1em;
  padding: .5em;
}

.topic {
  margin: .5em;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: .5em;
}

#load-more {
  background-color: #c6519b;
  border: none;
  color: #ffffff;
  display: block;
  padding: 1em;
  width: 50%;
}

#load-more:focus, #load-more:hover {
  background-color: #ffafcf;
  color: #000000;
}

#topic-name {
  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 576px) {
  body { 
    grid-template-areas:
      ". header ."
      ". controls ."
      ". main .";
    grid-template-columns: 1fr 540px 1fr;
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-areas:
      ". header controls ."
      ". main controls .";
    grid-template-columns: 1fr 480px 240px 1fr;
  }

  .instructions {
    margin-top: 2em;
  }
}

@media screen and (min-width: 992px) {
  body {
    grid-template-columns: 1fr 720px 240px 1fr;
  }
}

@media screen and (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 900px 240px 1fr;
  }
}